server {
    listen       8080;
    server_name  127.0.0.1;

    location /health {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{"status":"UP"}';
    }
}